
<div id="<%= dom_id videogame %>" class="relative bg-white border-2 flex-col rounded-lg px-2 py-2 box-shadow-2xl shadow-blue-500/50">

  <div class="flex justify-between mb-1">
    <p class="text-sm text-gray-500">
      <%= videogame.platform.try(:humanize) %>
    </p>

    <p class="text-sm bg-gray-500 text-white rounded px-1">
      <%= videogame.genre.try(:humanize) %>
    </p>
  </div>

  <p class="text-center font-semibold">
    <%= videogame.name %>
  </p>

  <div class="my-2 text-sm">
    <p>
      <strong>Year:</strong>
      <%= videogame.year %>
    </p>

    <p>
      <strong>Developer:</strong>
      <%= videogame.developer.try(:humanize) %>
    </p>
    <p>
      <strong>Global sales:</strong>
      $<%= videogame.sale.value %>M
    </p>
    
  </div>
  

  
  <% if videogame.editorschoice == "y" %>
    <span class="bg-amber-600 font-semibold text-white px-2 py-1 rounded-full text-sm">
      Editor's Choice
    </span>
  <% end %>

  <% if Current.user.present? %>
    <%= turbo_frame_tag "#{dom_id(videogame)}_add_to_wishlist" do %>
      <% if Current.user.wishlist.videogames.include? videogame %>
        <%= button_to "✓", my_wishlist_path(videogame: videogame), method: :patch, class: "absolute font-bold text-2xl right-2 bottom-1 text-white h-8 w-8 rounded-full bg-green-500", title: "remove from wishlist" %>
      <% else %>
        <%= button_to "+", my_wishlist_path(videogame: videogame), method: :patch, class: "absolute font-bold text-2xl right-2 bottom-1", title: "add to wishlist" %>
      <% end %>
    <% end %>
  <% end %>
</div>
