<div id="<%= dom_id videogame %>">
  <p>
    <strong>Name:</strong>
    <%= videogame.name %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= videogame.platform %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= videogame.year %>
  </p>

  <p>
    <strong>Developer:</strong>
    <%= videogame.developer %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= videogame.genre %>
  </p>

  <p>
    <strong>Editorschoice:</strong>
    <%= videogame.editorschoice %>
  </p>

</div>
